<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container col-md-6 mt-4">
            <h3>Add New Student Record</h3>
            <form method="POST" action="/delete">
                <!-- <div class="form-group">
                    <input type="hidden" name="id_" value="{{student.id_}}"> 
                </div> -->
                <!-- <div class="form-group">
                    <p>Are you sure you want to delete "{{ student.id_ }}"?</p>
        
                    <button class="btn btn-4" type="submit">Delete</button>
                     <a href="{% url 'book_detail' book.id %}" class="btn btn-light">Cancel</a> -->
        
                   
                 <!-- </div> -->
            </form>
        </div>

    </body>
</html>